<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 ng-bind="fs.path"></h2>
        <span flex></span>
        <button class="md-icon-button md-button" type="button" ng-click="addFolderDialog($event)">
            <md-icon class="icon material-icons">create_new_folder</md-icon>
        </button>
    </div>
</md-toolbar>
<div ></div>

<md-content>
    <md-list flex >
        <md-list-item ng-if="fs.parent" ng-dblclick="openFolder(fs.parent.path)">
            <md-icon class="icon material-icon">folder</md-icon>
            <p>..</p>
        </md-list-item>
        <md-list-item ng-repeat="dir in fs.directories" ng-click="toggleSelect($event, dir)"
            ng-dblclick="openFolder(dir.path)">
            <md-icon class="icon material-icon">folder</md-icon>
            <p ng-bind="dir.name"></p>
            <md-icon class="icon material-icon md-secondary"
                     ng-click="renameFolderDialog(dir)"
                     aria-label="Remove Folder">mode_edit</md-icon>
            <md-icon class="icon material-icon md-secondary"
                     ng-click="removeFolder($index, dir)"
                     aria-label="Remove Folder">delete</md-icon>
        </md-list-item>
    </md-list>
</md-content>